<link rel="stylesheet" type="text/css" href="/static/css/elements.css">

<script src="https://js.stripe.com/v3/"></script>
<body>
  <form>
    <label>
      <input name="cardholder-name" class="field is-empty" placeholder="Jane Doe" />
      <span><span>Name</span></span>
    </label>
    <label>
      <input class="field is-empty" type="email" placeholder="me@example.com" />
      <span><span>Email</span></span>
    </label>
    <label>
      <div id="card-element" class="field is-empty"></div>
      <span><span>Card</span></span>
    </label>
    <label>
      <input id="numberInput" name="amount" class="field is-empty" type="number" min="0.01" max="2147483647" step="0.01"></div>
      <span><span>Amount</span></span>
    </label>
    <button id="donationSubmit" type="submit">Donate</button>
    <div class="outcome">
      <div class="error"></div>
      <div class="success">
        Success! Your Stripe token is <span class="token"></span>
      </div>
    </div>
  </form>
</body>

<script>
var stripe = Stripe('pk_test_DtDKIGRnnGyTHQG8gNZzaKO4');
var elements = stripe.elements();

var card = elements.create('card', {
  iconStyle: 'solid',
  style: {
    base: {
      iconColor: '#8898AA',
      color: 'white',
      lineHeight: '36px',
      fontWeight: 300,
      fontFamily: 'Helvetica Neue',
      fontSize: '19px',

      '::placeholder': {
        color: '#8898AA',
        fontFamily: 'Helvetica Neue',
      },
    },
    invalid: {
      iconColor: '#e85746',
      color: '#e85746',
    }
  },
  classes: {
    focus: 'is-focused',
    empty: 'is-empty',
  },
});
card.mount('#card-element');

var inputs = Array.from(document.querySelectorAll('input.field'));
inputs.forEach(function(input) {
  input.addEventListener('focus', function() {
    input.classList.add('is-focused');
  });
  input.addEventListener('blur', function() {
    input.classList.remove('is-focused');
  });
  input.addEventListener('keyup', function() {
    if (input.value.length === 0) {
      input.classList.add('is-empty');
    } else {
      input.classList.remove('is-empty');
    }
  });
});

var numberInput = document.getElementById("numberInput");
numberInput.addEventListener('mousewheel', function(e){e.preventDefault();});
// // event listener to update button
// numberInput.addEventListener('blur', function(e){
//   // get the value in the amount field
//   var amount = numberInput.value;
//   document.getElementById("donationSubmit").innerHTML = "Donate $" + amount;
// })

function setOutcome(result) {
  var successElement = document.querySelector('.success');
  var errorElement = document.querySelector('.error');
  successElement.classList.remove('visible');
  errorElement.classList.remove('visible');

  if (result.token) {
    // Use the token to create a charge or a customer
    // https://stripe.com/docs/charges
    successElement.querySelector('.token').textContent = result.token.id;
    successElement.classList.add('visible');
  } else if (result.error) {
    errorElement.textContent = result.error.message;
    errorElement.classList.add('visible');
  }
}

card.on('change', function(event) {
  setOutcome(event);
});

document.querySelector('form').addEventListener('submit', function(e) {
  e.preventDefault();
  var form = document.querySelector('form');
  var extraDetails = {
    name: form.querySelector('input[name=cardholder-name]').value,
  };
  stripe.createToken(card, extraDetails).then(setOutcome);
});
</script>